#about-component {
  .section {
    margin: 24px;
    flex-wrap: wrap;

    .team-member {
      list-style: none;
      flex: 1;
      margin: 16px auto;
      background-color: rgb(0, 0, 0, 0.5);
      border-radius: 10px;
      padding: 16px;
      padding-bottom: 0;
      display: flex;
      width: auto;

      .team-avatar {
        width: 250px;
        object-fit: cover;
      }

      .team-description {
        text-align: start;

        .team-name {
          font-size: 20px;
          color: #ffffff;
        }

        .team-nickname {
          font-size: 14px;
          color: #ffffff67;
          border-bottom: 1px solid #ffffff67;
        }

        .team-description {
          font-size: 14px;
          color: #ffffff;
          margin-top: 12px;
          padding: 16px 0;
          white-space: break-spaces;
        }
      }

    }
  }
}