<body>
  <!-- <app-nav-menu></app-nav-menu> -->
  <main class="container context">
    <router-outlet></router-outlet>
  </main>
  <!-- <div class="context">
    <h1>Robot controller</h1>
  </div> -->

  <div class="area">
    <app-nav-menu></app-nav-menu>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>
  <div id="footer">
    Made with ♥ by ERNI Divertiteam 2023 | Sant Cugat del Vallès
  </div>
</body>