<div id="home-component">
  <img id="erni-global-img" src="../../assets/images/erni-global.png" />
  <div class="section">
    <div id="status-text" [ngClass]="{'connected': this.connection.isConnected}">Status: {{this.getConnectionStatus()}}
    </div>
    <div id="home-content">
      <div id="home-cam">
        <div class="home-section-title">Camera</div>
        <div *ngIf="!this.connection.isConnected" class="cam-container">
          <img id="img-status-connection" src="../../assets/images/no-signal.png" class="img-fluid"
            alt="Responsive image">
        </div>
        <img class="cam-container" *ngIf="this.connection.isConnected"
          src="https://jdarknessdomains.ddns.net:9800/video_feed" width="320" height="240">
      </div>
      <div id="home-how-to">
        <div>HOW TO MANAGE THE ROBOT</div>
        <div class="how-to-container">
          <!-- <img id="vehicle-img" src="../../assets/images/vehicle.png"> -->
          <div class="grid">
            <div class="cell invisible"></div>
            <div class="cell" id="up" [ngClass]="{'pressed': this.forwardKeyPressed}"
              (mousedown)="this.pressMoveForward()" (mouseup)="this.forwardKeyPressed = false">↑</div>
            <div class="cell invisible"></div>

            <div class="cell" id="left" [ngClass]="{'pressed': this.leftKeyPressed}" (mousedown)="this.pressMoveLeft()"
              (mouseup)="this.leftKeyPressed = false">←</div>
            <div class="cell" id="down" [ngClass]="{'pressed': this.backwardKeyPressed}"
              (mousedown)="this.pressMoveBackward()" (mouseup)="this.backwardKeyPressed = false">↓</div>
            <div class="cell" id="right" [ngClass]="{'pressed': this.rigthKeyPressed}"
              (mousedown)="this.pressMoveRight()" (mouseup)="this.rigthKeyPressed = false">→</div>
          </div>
          <div class="how-to-info">
            You can control the robot by pressing the keys on your keyboard <br /> or by clicking on the keys on the
            interface.
            <ul>
              <li>↑ or W: Move forward</li>
              <li>↓ or S: Move backward</li>
              <li>← or A: Move to the left</li>
              <li>→ or D: Move to the right</li>
            </ul>
          </div>

        </div>
      </div>


      <!-- <img  /> -->
    </div>

    <div id="home-map">
      <div class="home-section-title">Map</div>
      <div class="map-container">
        Aquí irá el mapa
      </div>
    </div>

  </div>
</div>